@{
    ViewData["Title"] = "Página Inicial";
    var controle = ViewBag.Conteudo;
    var pesoInicial = ViewBag.PesoInicial.ToString("F2");
    var dataInicial = ViewBag.Inicio.ToString("dd-MM-yyyy");
    var pesoMeta = ViewBag.Meta.ToString("F2");
    var dataMeta = ViewBag.DataMeta.ToString("dd-MM-yyyy");
    var quantidadeDias = ViewBag.DiasRestantes;
    var dataMinima = DateTime.Today.ToString("dd-MM-yyyy");
    var imc = ViewBag.Imc;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @if (controle == 0)
    {
        <div class="text-center">
            <br />
            <h1></h1>
            <h5>Me fale sobre você</h5>
            <br />
        </div>

        <form asp-controller="Controles" asp-action="SalvarPeso" method="get">
            <div class="container">
                <div class="row bg-row">
                    <div class="col-sm-5 col-12 line-space line">
                        <h6>Altura</h6>
                    </div>
                    <div class="col-sm-7 col-12 line-space">
                        <input type="number" name="altura" step=".01" />
                    </div>
                    <div class="col-sm-5 col-12 line-space line">
                        <h6>Peso Atual</h6>
                    </div>
                    <div class="col-sm-7 col-12 line-space">
                        <input type="number" name="pesoAtual" />
                    </div>
                    <div class="col-sm-5 col-12 line-space line">
                        <h6>Meta</h6>
                    </div>
                    <div class="col-sm-7 col-12 line-space">
                        <input type="number" name="pesoMeta" />
                    </div>
                    <div class="col-md-5 col-12 line-space line">
                        <h6>Data para atingir a meta</h6>
                    </div>
                    <div class="col-md-7 col-12 line-space">
                        <input type="date" name="dataMeta" min="@dataMinima" />
                    </div>
                    <input type="submit" value="->" class="seta" />
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="space-min text-center">
            <h3>@imc</h3>
        </div>
        <div class="container space">
            <div class="row">
                <h3 class="text-center col-12 col-sm-6">PESO</h3>
                <h3 class="text-center col-12 col-sm-6">DATA</h3>
            </div>
            <div class="row">
                <div class="col-sm-3 col-6 text-right">
                    <h5>INICIAL</h5>
                </div>
                <div class="col-sm-3 col-6">
                    <h6>@pesoInicial Kg</h6>
                </div>
                <div class="col-sm-3 col-6 text-right">
                    <h5>INÍCIO</h5>
                </div>
                <div class="col-sm-3 col-6">
                    <h6>@dataInicial</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-6 text-right">
                    <h5>OBJETIVO</h5>
                </div>
                <div class="col-sm-3 col-6">
                    <h6>@pesoMeta Kg</h6>
                </div>
                <div class="col-sm-3 col-6 text-right">
                    <h5>FINAL</h5>
                </div>
                <div class="col-sm-3 col-6">
                    <h6>@dataMeta</h6>
                </div>
            </div>
        </div>
        <div class="space text-center">
            @if (quantidadeDias > 1)
            {
                <h3>VOCÊ TEM @quantidadeDias DIAS PARA ALCANÇAR O SEU OBJETIVO!</h3>
            }
            else if (quantidadeDias == 1)
            {
                <h3>VOCÊ TEM @quantidadeDias DIA PARA ALCANÇAR O SEU OBJETIVO!</h3>
            }
            else if (quantidadeDias <= 0)
            {
                @if (pesoMeta <= pesoInicial)
                {
                    <h3>PARABÉNSS! VOCÊ ALCANÇOU O SEU OBJETIVO!</h3>
                }
                else
                {
                    <p>Estabeleça uma nova meta!</p>
                    <a href="#">
                        @*adicionar uma página para alterar meta*@
                    </a>
                }
            }
        </div>
    }
</body>
</html>
