@{
    ViewData["Title"] = "Acompanhar";
    var datas = ViewBag.Datas;
    var pesos = ViewBag.Pesos;
    var porcentual = ViewBag.Porcentagem;
}

<h1 class="text-center spc-bottom mg-bottom">@ViewData["Title"]</h1>

<div>
    <div class="fl-data">
        <h4>DATA</h4><br />
        @foreach (var data in datas)
        {
            <p>@data</p>
        }
    </div>
    <div class="fl-data">
        <h4>PESO</h4><br />
        @foreach (var peso in pesos)
        {
            <p>@peso</p>
        }
    </div>
    <div class="fl-data">
        <h4 class="mg-bottom">%</h4>
        @foreach (var porcento in porcentual)
        {
            if (porcento > 0)
            {
                <p> - @porcento.ToString("F2")%</p>
            }
            else
            {
                <p> + @porcento.ToString("F2")%</p>
            }
        }
    </div>
    <div class="fl-grafico">
        @*GRÁFICO*@
    </div>
</div>