@{
    ViewData["Title"] = "Acompanhar";
    var datas = ViewBag.Datas;
    var pesos = ViewBag.Pesos;
    var porcentual = ViewBag.Porcentagem;

    var datasGrafico = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(datas));
    var pesosGrafico = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(pesos));
}



<h1 class="text-center spc-bottom mg-bottom">@ViewData["Title"]</h1>

<div>
    <div class="fl-edit">
        @foreach (var data in datas)
        {
        <a >
            <img src="~/image/editar.png" alt="editar" width="20" class="mg-bottom-edit" /><br />
        </a>
        }

    </div>
    <div class="fl-data">
        <h4>DATA</h4>
        @foreach (var data in datas)
        {
            <p>@data.ToString("dd-MM")</p>
        }
    </div>
    <div class="fl-data">
        <h4>PESO</h4>
        @foreach (var peso in pesos)
        {
            <p>@peso</p>
        }
    </div>
    <div class="fl-data">
        <h4 class="mg-bottom">%</h4>
        @foreach (var porcento in porcentual)
        {
            if (porcento > 0)
            {
                <p> - @porcento.ToString("F2")%</p>
            }
            else
            {
                var removeSubtracao = porcento * -1;
                <p> + @removeSubtracao.ToString("F2")%</p>
            }
        }
    </div>
    <div class="fl-grafico">
        <canvas id="myChart" class="flex-grafico"></canvas>
    </div>
</div>


<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: @datasGrafico,
        datasets: [{
            data: @pesosGrafico,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        }
    }
});
</script>